@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&family=Oxygen&family=Righteous&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    text-decoration: none;
}

.cabecalho {
    background-color:rgb(255, 0, 0);
    background-position:top;
    color: #000000;
    margin: 15px;
    margin:auto;
    padding: 22px 85px;
}

.titulo_principal {
    font-family: 'Righteous', cursive;
    font-size: 40px;
    text-align: left;
}

.cabecalho__menu__link {
    font-family: 'Oxygen', sans-serif; 
    font-size: 20px;
    color:#000000;
    font-weight: normal;
    display: flex;
    justify-content: flex-end;
    flex-direction:row;
}

.body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
}

.categorias {
    font-family: 'Oxygen', sans-serif; 
    border: 2px solid rgb(119, 24, 24);
    border-radius: 8px;
    width:fit-content;
    height:fit-content;
}

.confira{
    padding: 2%;
    font-family: 'Oxygen', sans-serif; 
    color: rgb(58, 58, 58);
    text-align: left;
    font-size: 29px;
    font-weight: normal;
    border-bottom: 2px solid rgb(100, 99, 99);
}

.nome_filme{
    font-family: 'Oxygen', sans-serif; 
    color: black;
    font-size: 25px;
    font-weight: bolder;
    padding-left: 15%;
    margin: 2% 0% 1% 0%;
}

.explica{
    font-family: 'Oxygen', sans-serif; 
    color: black;
    font-size: 15px;
    font-weight: lighter;
    margin-left: 18%;
    margin-right: 18%;
    padding-bottom: 2%;
    text-align: justify;
}

.apresentacao_conteudo {
    border: 5%;
    columns: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    gap: 40px;
    margin-top: 5%;
}   

.apresentacao {
    background-color: #000000;
    color:#ffffff;
    display: flex;
    align-items:flex-start;
}

.categoria_filme {
    color: white;
    font-family: 'Oxygen', sans-serif; 
    font-size: 35px;
    display: flex;
}

.produto {
    transition: .35s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;   
}

.produto p {
    margin-top: 10px;
    margin-bottom: 25px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Oxygen', sans-serif; 
    font-weight: normal; 
}


.produto p:hover{
    color: rgb(255, 0, 0);
}

.apresentacao_conteudo:hover >:not(:hover) {
    opacity: .4;
    transform: scale(0.9);
}

.cabecalho__menu__link:hover{
    font-weight: bolder;
}

.sinopse_geral{
    background-color: whitesmoke;
}

.rodape {
    background-color: #000000;
    border-top: 1px groove #4d4d4d;
    text-align: center;
    color:#909090;
    font-size: 10px;
    font-family: 'Oxygen', sans-serif;
    padding: 20px;
}

